<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head"></head>

    <body>
        <div th:replace="fragments/header :: header"></div>

        <div class="container-fluid">  
            <div class="container-fluid" style="width: 75%; text-align: center;">
                <h1 style="padding-top: 30px; color: red"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> INTERNAL SERVER ERROR!</h1>
            </div>
        </div>       

        <div th:replace="fragments/footer :: footer"></div>

    </body>

</html>