<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head"></head>

    <body>
        <div th:replace="fragments/header :: header"></div>

        <div class="container-fluid">            
            <div class="my-3">                                
                <div>
                    <h3 class="text-center" style="padding-top: 20px; padding-bottom: 25px"><i class="fa-solid fa-code"></i> GET Request URI</h3>
                </div> 
                <form th:action="@{/getRequestURI}" method="post" enctype="multipart/form-data" th:object="${requestUriParamitersObj}" style="width: 35%; margin: 0 auto" class="form-style">                                       
                    <div class="p-3">
                        <div class="mb-3">
                            <label for="certificate" class="form-label" style="margin-right: 15px;">FQDN: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="STAGING" th:field="*{domain}" checked>
                                <label class="form-check-label" for="flexRadioDefault1">STAGE</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="PRODUCTION" th:field="*{domain}">
                                <label class="form-check-label" for="flexRadioDefault2">PROD</label>
                            </div>   
                        </div>
                        <div class="mb-3">
                            <label for="certificate" class="form-label">Certificate</label>
                            <textarea class="form-control" name="certificate" id="certificate" th:field="*{certificate}" rows="4" required></textarea>                                                 
                            <small id="helpCertificate" class="form-text text-muted">X.509 certificate in PEM format containing Base64-encoded data uploaded in the portal.</small>
                        </div>
                        <div class="form-group">
                            <label for="privateKey">Private Key</label>
                            <textarea class="form-control" name="privateKey" id="privateKey" th:field="*{privateKey}" rows="4" required></textarea>
                            <small id="helpPrivateKey" class="form-text text-muted">Unencrypted cryptographic private key containing Base64-encoded data.</small>
                        </div>    
                        <div class="mb-3">
                            <label for="appId" class="form-label">ID Client</label>
                            <input type="text" name="idClient" id="idClient" th:field="*{idClient}" required minlength="10" maxlength="50" class="form-control" >      
                            <small id="helpAppId" class="form-text text-muted">Client ID identifier for the application registered on the Nexi developer portal.</small>
                        </div>
                        <div class="mb-3">
                            <label for="appSecret" class="form-label">Secret</label>
                            <input type="text" name="secret" id="secret" th:field="*{secret}" required minlength="10" maxlength="50" class="form-control" >                                                  
                            <small id="helpAppSecret" class="form-text text-muted">Secret key identifying the application registered on the Nexi developer portal.</small>
                        </div>                        
                        <div class="mb-3">
                            <label for="appRedirectUri" class="form-label">App Redirect URI</label>
                            <input type="text" name="appRedirectUri" id="appRedirectUri" th:field="*{appRedirectUri}" required minlength="10" maxlength="50" class="form-control" >                                                  
                            <small id="helpAppRedirectUri" class="form-text text-muted">Web address specified in the app registered on the Nexi developer portal and it must be correctly formatted (e.s. https://mywebsite/myredirectpage).</small>
                        </div>
                        <div class="mb-3">
                            <label for="idPuntoVendita" class="form-label">ID Point of Sale</label>
                            <input type="text" name="idPointOfSale" id="idPointOfSale" th:field="*{idPointOfSale}" required minlength="10" maxlength="50" class="form-control" >                                                  
                            <small id="helpIdPuntoVendita" class="form-text text-muted">Point of Sale ID assigned to your application in the portal.</small>
                        </div>
                        <div class="mb-3">
                            <label for="terminal_id" class="form-label">Terminal ID</label>
                            <input type="text" id="terminaleId" name="terminaleId" th:field="*{terminaleId}" required minlength="8" maxlength="8" class="form-control" >
                            <small id="helpIdPuntoVendita" class="form-text text-muted">Terminal ID associated with the Point of Sale.</small>
                        </div>
                        <div class="mb-3">
                            <label for="usernameMerchant" class="form-label">Username Merchant</label>
                            <input type="text" id="usernameMerchant" name="usernameMerchant" th:field="*{usernameMerchant}" class="form-control" required>
                            <small id="helpUsernameMerchant" class="form-text text-muted">The Username Merchant is the email address associated with the user.</small>
                        </div>
                        <div class="mb-3">
                            <label for="deviceId" class="form-label">Device ID</label>
                            <input type="text" id="deviceId" name="deviceId" th:field="*{deviceId}" required minlength="8" maxlength="50" class="form-control" >
                            <small id="helpDeviceId" class="form-text text-muted">Alphanumeric ID identifying the device making the request. During the testing phase, it can also be a randomly generated value.</small>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-sm mr-2" /><i class="fa-solid fa-credit-card"></i> Send Request</button>
                        </div>
                    </div>
                </form>
                <br><br><br>
            </div>
        </div>       

        <div th:replace="fragments/footer :: footer"></div>

        <script type="text/javascript">
        </script>

    </body>

</html>